@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
html,
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(.5vw + 11.976px);
    margin: 0;
}

h2 {
    padding: 20px;
}

.banner {
    /* background: rgb(83, 64, 255); */
    border-style: solid;
}

.banner h1 {
    font-size: calc(3.3vw + 11.976px);
    color: black;
    text-align: left;
}

.banner p {
    font-size: calc(1vw + 11.976px);
    color: black;
    text-align: left;
}

img {
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.values {
    border-style: solid;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.values h1 {
    border-style: solid;
    padding: 2%;
    width: 100%;
}

.items {
    padding: 2%;
    border-style: solid;
    width: 44%;
}

.row {
    border-style: solid;
    /* width: 100vw; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
    padding-top: calc(80vmax / 9);
    padding-bottom: calc(80vmax / 7);
}

.column1 {
    border-style: solid;
    width: 60%;
    padding: 2%;
}

.column2 {
    border-style: solid;
    padding: 2%;
    width: 30%;
    text-align: center;
}

.work>div {
    border-style: solid;
    width: 28%;
    height: auto;
    text-align: left;
    /* background-color: rgb(236, 236, 236); */
    margin: 1vw;
}

.work>div>a,
a:visited {
    color: black;
}

.work {
    border-style: solid;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-top: calc(80vmax / 20);
    padding-bottom: calc(80vmax / 10);
}

.work h2 {
    /* padding-left: 5%; */
    font-size: calc(2.16vw + 1rem);
    text-align: left;
    width: 89.5%;
    /* padding-top: calc(80vmax / 50); */
    padding-bottom: calc(80vmax / 50);
    opacity: 0.5;
    /* color: rgb(83, 64, 255); */
}

.work h1 {
    width: 100%;
    margin: 0;
}


/* 
@media all and (max-device-width: 480px) and (orientation: portrait) {
    #desktop {
        display: none;
    }
    #mobile {
        display: inline-block;
    }
}

@media all and (max-device-width: 480px) and (orientation: landscape) {
    #desktop {
        display: none;
    }
    #mobile {
        display: inline-block;
    }
} */


/* On screens that are 992px wide or less, go from four columns to two columns */

@media screen and (max-width: 992px) {
    .row {
        flex-direction: column;
    }
    .banner img {
        max-width: 50%;
    }
    .column1,
    .column2 {
        width: 95%;
    }
    .work {
        flex-direction: column;
    }
    .work>div {
        width: 65%;
    }
    .work h2 {
        width: 65%;
    }
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
    .banner img {
        max-width: 70%;
    }
    .work {
        flex-direction: column;
    }
    .work>div {
        width: 95%;
    }
    .work h2 {
        width: 95%;
    }
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin-top: 3%;
    max-width: 100%;
    height: auto;
}

.image-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container1 img {
    margin-top: 3%;
    max-width: 100%;
    height: auto;
}

.image-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container2 img {
    /* display: block; */
    margin-top: 3%;
    height: 34vw;
    /* max-height: 100%; */
    /* max-width: 40%; */
}

.dynamic-heading {
    font-size: calc(2.64vw + 1rem);
    font-weight: 300;
    text-align: center;
    margin: .5rem;
}

.project-section {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section .post {
    width: 65%;
    margin-top: 5%;
    margin-bottom: 7.5%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
}

@media all and (min-width: 800px) and (max-width: 1200px) {
    .project-section .post {
        width: 78%;
    }
}

@media all and (max-width: 800px) {
    .project-section .post {
        width: 95%;
    }
}

.post h2 {
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
}

.post h3 {
    /* color: rgb(83, 64, 255); */
    text-align: center;
    font-size: 1.4rem;
    margin-top: 15%;
    margin-bottom: 1%;
}

.post ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post .description {
    font-size: calc(.24vw + 1rem);
}

.post p,
.post .image-container {
    margin-bottom: 2rem;
}

.post .image-container {
    width: 100%;
}

footer {
    background: rgb(83, 64, 255);
    color: rgb(158, 147, 255);
    padding: 1rem 0;
    font-size: 1.125rem;
    text-align: center;
}

nav {
    font-weight: 300;
    color: black;
    background: rgb(83, 64, 255);
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    font-size: 1.125rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo {
    font-size: 2rem;
    display: inline-block;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

.nav-item:hover {
    color: hsl(231, 66%, 80%);
}

.logo img {
    width: 175px;
    vertical-align: middle;
}

a,
a:visited {
    color: black;
}

a:hover {
    color: transparent;
    text-shadow: 0 0 8px black;
    cursor: pointer;
}