@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');
html,
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 62.5%;
    margin: 0;
    color: #0e002b;
    background-color: #f3f3f3;
}

.type-heading-1 {
    font-weight: 500;
    font-size: 5.7rem;
    margin: 1rem 0;
    color: #d4fcf4;
    text-align: left;
}

.type-heading-2 {
    color: #313bd0;
    font-weight: 300;
    font-size: 4.5rem;
    margin: 2rem 0px;
    text-align: center;
}

.type-heading-3 {
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;
    margin: .7rem 0px;
}

.type-body-1 {
    font-weight: 400;
    margin: auto;
    font-size: 1.7rem;
    line-height: 1.8;
}

.type-body-2 {
    margin: auto;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.8;
}

a {
    color: #313bd0;
    border-bottom: solid;
    text-decoration: none;
}

a:hover {
    border-bottom: 0;
    color: rgb(154, 34, 248);
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='  rgb(154, 34, 248)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 3px;
    background-repeat: repeat-x;
    text-decoration: none;
}

img {
    max-width: 100%;
    text-align: center;
    margin: auto;
}

footer {
    background-color: #313bd0;
    color: #d4fcf4;
    padding: 3rem 0;
    font-size: 2.3rem;
    text-align: center;
}


/*banner on index + about page*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding-top: calc(80vmax / 20);
    padding-bottom: calc(80vmax / 10);
}

.column1 {
    width: 52%;
    padding: 5%;
}

.column1 h3 {
    margin-top: 3rem;
    text-align: left;
}

.column2 {
    padding: 5%;
    width: 28%;
    text-align: center;
}

.banner {
    background-color: #313bd0;
    color: #d4fcf4;
}


/* about page design values */

.values {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.value-list {
    padding: 2%;
    width: 44%;
}

.values h1 {
    padding-left: 4%;
    width: 100%;
}

.values h3 {
    text-align: left;
}


/* nav page with data from airtable*/

.work2,
.work {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* padding-top: calc(80vmax / 20);
  */
}

.work2 {
    padding-bottom: calc(80vmax / 10);
}

.work {
    padding-top: calc(80vmax / 20);
}

.work2>div,
.work>div {
    width: 28%;
    height: auto;
    text-align: left;
    margin: .5vh 1.5vw;
}

.work2 .type-heading-2,
.work .type-heading-2 {
    font-weight: 400;
    text-align: left;
    width: 89.5%;
    padding-bottom: 1rem;
}

.work2 a,
.work a {
    font-size: 2rem;
    margin-top: 3rem;
}

.work2 p,
.work p {
    color: #313bd0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6;
}

.work2 img,
.work img {
    margin-bottom: 3rem;
}

@media screen and (max-width: 992px) {
    .row,
    .work,
    .values {
        flex-direction: column;
    }
    .banner img {
        max-width: 50%;
    }
    .column1,
    .column2 {
        width: 95%;
    }
    .value-list {
        width: 75%;
    }
    .work2>div,
    .work>div {
        width: 65%;
    }
    .work2 h2,
    .work h2 {
        width: 65%;
    }
}

@media screen and (max-width: 600px) {
    .banner img {
        max-width: 70%;
    }
    .work2>div,
    .work>div {
        width: 95%;
    }
    .work2 h2,
    .work h2 {
        width: 95%;
    }
    .value-list {
        width: 95%;
    }
}


/* image containers for dynamic content */

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin-top: 3%;
    max-width: 100%;
    max-height: 70vh;
}

.video-container {
    display: hidden;
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container iframe {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
}

.image-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container1 img {
    margin: 1rem;
    max-width: 100%;
    max-height: 70vh;
}

.image-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container2 img {
    margin: 1rem;
    max-width: 90%;
    max-height: 70vh;
    /* max-height: 40vw; */
}

.image-container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container3 img {
    margin: 1rem;
    max-width: 100%;
    max-height: 70vh;
    /* height: 60vh; */
}

.section {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.8;
}

.post {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 7.5%;
    display: flex;
    flex-direction: column;
}

.post .type-heading-3 {
    margin-top: 18vh;
}

.post .type-body-1 {
    margin-bottom: 3rem;
}

.post ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 800px) and (max-width: 1200px) {
    .section .post {
        width: 78%;
    }
}

@media all and (max-width: 800px) {
    .section .post {
        width: 95%;
    }
}


/* colors */

.color {
    width: 80%;
    height: 20%;
    color: #f5f5ff;
}

.color-primary {
    background-color: #0e002b;
}

.color-secondary {
    background-color: #f0f8f7;
}

.color-accent {
    background-color: #313bd0;
}

.color-accent2 {
    background-color: rgb(154, 34, 248);
}

.color-accent3 {
    background-color: rgb(56, 238, 192);
}


/* buttons */

.button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.button-primary {
    background-color: #f5f5ff;
    display: inline-block;
    padding: 1em 3em;
    text-decoration: none;
    color: #313bd0;
    border: solid 2px #313bd0;
    transition: .4s;
}

.button-primary:hover {
    cursor: pointer;
    background: #313bd0;
    color: #f5f5ff;
}

.button-secondary {
    display: inline-block;
    padding: 2em 3em;
    text-decoration: none;
    color: #313bd0;
    background: #d4fcf4;
    border-radius: 2px;
    border: solid 2px #313bd0;
    transition: .4s;
}

.button-secondary:hover {
    cursor: pointer;
    background-color: #313bd0;
    color: #d4fcf4;
}


/* navigation */

nav {
    list-style: none;
    color: rgb(56, 238, 192);
    font-weight: 500;
    background-color: #313bd0;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo {
    font-size: 3rem;
    display: inline-block;
}

.nav-links {
    font-size: 2rem;
    display: flex;
}

.nav-item {
    text-decoration: none;
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}

nav a {
    font-weight: 300;
}

i {
    display: inline-block;
}

.socials {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.socials h3 {
    padding: 1rem;
}

.socials a {
    display: inline-block;
    text-decoration: none;
    width: 5.3rem;
    height: 5.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    font-size: 4rem;
    color: #d4fcf4;
    border: 2px solid #d4fcf4;
    transition: .4s;
}

.socials a:hover {
    background-image: none;
    color: rgb(56, 238, 192);
    border-color: rgb(56, 238, 192);
}

.socials a:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -2px;
    border: 2px dashed #d4fcf4;
    position: absolute;
    border-radius: 50%;
}

.blue {
    border: none;
    color: #d4fcf4;
}

.blue:hover {
    color: rgb(56, 238, 192);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='rgba(95, 236, 200)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.bubble-1 {
    animation-delay: 1.3s;
}

.bubble-1 .bubble-animation-y {
    animation-delay: 0.7s;
}

.bubble-1 .bubble {
    width: 50px;
    height: 50px;
}

.bubble-2 {
    margin-left: 5%;
    animation-delay: 2s;
}

.bubble-2 .bubble-animation-y {
    animation-delay: 2.1s;
}

.bubble-3 {
    margin-left: 10%;
    animation-delay: 4.7s;
}

.bubble-3 .bubble-animation-y {
    animation-delay: 3.8s;
}

.bubble-4 .bubble {
    width: 35px;
    height: 35px;
}

.bubble-4 {
    margin-left: 20%;
    animation-delay: 0s;
}

.bubble-4 .bubble {
    width: 40px;
    height: 40px;
}

.bubble-4 .bubble-animation-y {
    animation-delay: 6s;
}

.bubble-5 {
    margin-left: 50%;
    animation-delay: 1.5s;
}

.bubble-5 .bubble-animation-y {
    animation-delay: 7s;
}

.bubble {
    margin-right: 20px;
    border: .2rem solid rgb(56, 238, 192);
    opacity: 0;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.bubble-animation-x {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bubbleXAnimFrames;
    animation-timing-function: ease;
    animation-direction: alternate;
}

.bubble-animation-y {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: bubbleYAnimFrames;
    animation-timing-function: linear;
}

@keyframes bubbleXAnimFrames {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50px);
    }
}

@keyframes bubbleYAnimFrames {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 0.9;
    }
    95% {
        transform: translateY(-280px);
        opacity: 0.9;
    }
    100% {
        transform: translateY(-300px);
        opacity: 0;
    }
}